.of_h{
	overflow: hidden;
}
.nav_header{
	background: #CB2920;
}
.nav_header a{
	color: #ffffff;
}
.nav_header h1{
	color: #ffffff;
}
.bg_ff{
	background: #fff;
}
.record_nav{
	margin-top: 44px;
	background: #fff;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}
.record_list{
	display: inline-block;
	width: 33%;
	float: left;
	text-align: center;
}
.record_list img{
	width: 0.17rem;
}
.record_list span{
	width: 0.14rem;
	color: #777777;
	line-height: 0.3rem;
}
.list_mid{
	border-left: 1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
}